html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    font-family: "Trebuchet MS", sans-serif;
}


#navbarBanner {
    background: #DDAF39;
    font-size: xx-large;
}

#footer {
    background: #DDAF39;
}

a {
    text-decoration: none;
    color: #34485D;
}

a:hover {
    color: #BF6565;
    text-decoration: none;
}