html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.book-title {
  font-size: 24px;
  font-weight: bold;
}

.categories {
  font-size: smaller;
}

/* Ratings Star */

.checked {
  color: orange;
}

/* Ratings Star */