+++ 
date = 2019-10-27T11:30:15Z
publishedDate = "{{ published_date }}"
title = "{{ title }}"
categories = [""]
grId = "{{ id }}"
grLink = "{{ gr_link }}"
amzUS = "{{ amz_us }}"
amzUK = "{{ amz_uk }}"
amzCA = "{{ amz_ca }}"
series = []
isbn = "{{ full_isbn }}"
thumbnail = "{{ thumbnail }}"
pages = "{{ pages }}"
ratings = "{{ ratings }}"
totalRatings = "{{ total_ratings }}"
reviews = "{{ reviews }}"
+++

{{ description }}