+++ 
date = 2019-10-27T11:30:15Z
publishedDate = "{{ published_date }}"
title = "{{ name }}"
categories = ["{{ category }}"]
series = []
thumbnail = "{{ screen_shot }}"
website = "{{ website }}"
is_opensource = "{{ is_opensource }}"
tags = {{ tags }}
+++

{{ short_description }}