+++ 
title = "{{ name }}"
categories = ["{{ category }}"]
series = []
thumbnail = "{{ screen_shot }}"
website = "{{ website }}"
is_opensource = "{{ is_opensource }}"
tags = {{ tags }}
+++

{{ short_description.strip() }}