<footer class="bg-light">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Disclaimer: We don't own book covers and the synopses | Icons <a target="_blank" href="https://www.flaticon.com/authors/flat-icons">Flat Icons</a> and <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> 🙏 | Books based on these <a target="_blank" href="https://github.com/hackerkid/Mind-Expanding-Books">recommendations</a></p>
    </div>
</footer>