{{ range .Paginator.Pages }}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="text-center mt-2">
            <img src="{{ .Params.thumbnail | absURL }}" width="280px" height="250px">
        </div>
        <div class="card-body">
            <h6 class="card-text">{{ .Title }} <a href="{{ .Params.website | absURL}}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="15" height="15" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                <line x1="10" y1="14" x2="20" y2="4" />
                <polyline points="15 4 20 4 20 9" />
            </svg></a></h6>
            {{ with .Params.Tags }}{{ partial "item-tags.html" . }}{{ end }}
            <small><p class="card-text">{{ .Params.short }}</p></small>
        </div>
    </div>
</div>

{{ end }}